In [1]:
# import our libraries
import pandas as pd
import matplotlib.pyplot as plt
import gif

# create a DataFrame from the CSV we sourced from the www.gapfinder.org
income = pd.read_csv('income_per_person_gdppercapita_ppp_inflation_adjusted.csv')

In [2]:
plt.style.use('fivethirtyeight')

In [3]:
# drop the future projections from the dataset
income.drop(income.iloc[:,-20:], axis=1, inplace=True)
display(income.head())

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,603,603,603,603,603,603,603,603,603,...,1630,1770,1810,1800,1770,1760,1760,1740,1760,1800
1,Albania,667,667,667,667,667,668,668,668,668,...,10200,10400,10500,10700,11000,11400,11800,12300,12700,13200
2,Algeria,715,716,717,718,719,720,721,722,723,...,13000,13200,13300,13500,13800,13900,13900,13900,14000,14000
3,Andorra,1200,1200,1200,1200,1210,1210,1210,1210,1220,...,42000,41900,43700,44900,46600,48200,49800,51500,53200,55000
4,Angola,618,620,623,626,628,631,634,637,640,...,6350,6640,6730,6810,6640,6260,6040,5720,5540,5440

In [4]:
# create a nice colour palette by stealing it from seaborn!
import seaborn as sns
palette = sns.color_palette(None, 193) # create 193 colours from the Seaborn palette

countries = income['country'] # create a list of each country in the dataset

colours_dict= dict(zip(countries, palette)) # create a dictionary with a unique colour for each country
# This means the same country will always appear as the same colour, which will help make the bar chart race viewable

C:\Users\info\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
# This function contains the meat of the code. I converted from the pandas plot.barh() code above to standard 
# Matplotlib code as an exercise to learn more about how to do that (and because I was trying to use the native
# Matplotlib animation package at first and it seemed like these would play together more nicely.)

@gif.frame # this decorator lets the gif package know this is the function I want to use
def draw_chart(year):
    """ Draw a chart based on the year """
    top = (income[['country',year]].sort_values(by=year,ascending=False).head(10)) # create a new DataFrame with the selected year's data
    top = top[::-1] # flip the order so largest appears at the top
    
    # Matplotlib formatting to make our chart
    fig, ax = plt.subplots(figsize=(15, 8))
    ax.clear()
    ax.text(1, 0.4, year, transform=ax.transAxes, size=52, ha='right', va='bottom')
    ax.barh(top['country'], top[year], color=[colours_dict[x] for x in top['country']])
    ax.set_title('GDP per person (in 2011 USD)')
    ax.set_xlim(right=185000)

In [ ]:
# create a list of strings for each year between '1800' and '2020' that I can feed to the function
frames_list = range(1800, 2021)
frames_list = [str(x) for x in frames_list]

# This creates a list of the frames for the gif. Each one is just a call to the function for the next year - so simple!
frames = []
for i in frames_list:
    frame = draw_chart(i)
    frames.append(frame)

# then we save our gif
gif.save(frames, "race.gif", duration=100)